@font-face {
    font-family: Poppins-SemiBold;
    src: url(/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(/Poppins/Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-SemiBold;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #563ec0;
    padding: 10px 10%;
    position: relative;
}

header h1 {
    padding: 20px 0;
    padding-bottom: 0px;
    font-size: 32px;
    font-family: Poppins-Bold;
    color: #c2e957;
}

.content {
    margin-top: 7%;
    max-width: 600px;
}

.content h1 {
    font-size: 70px;
    color: #c2e957;
}

.content p {
    margin: 10px 0 30px;
    color: #fff;
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 13px;
    max-width: 600px;
    gap: 8px;
    margin-top: 5%;
}

img {
    width: 470px;
    position: absolute;
    bottom: 0;
    right: 3%;
}